$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/components/phase-banner';

.info-frontend {
  @include govuk-clearfix;
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet){
    padding-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }
}

.need-heading {
  @include govuk-media-query($from: tablet){
    max-width: 75%;
  }
}

.user-need {
  max-width: 18em;
}

.user-need__role,
.user-need__goal,
.user-need__benefit {
  display: block;
  padding-bottom: govuk-spacing(3);
}

.user-need__reasons {
  padding-bottom: govuk-spacing(6);
}

.metrics-panel__block {
  margin-bottom: govuk-spacing(4);
}

.metrics-panel__number {
  @include govuk-font(48, $weight: bold);
}

.metrics-panel__unit {
  @include govuk-font(24);
}

.search-terms-list {
  @include govuk-font(16, $line-height: 1.7);

  @include govuk-media-query($from: tablet){
    max-height: 200px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
