$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;
@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/_feedback';
@import 'govuk_publishing_components/components/_phase-banner';
@import 'govuk_publishing_components/components/_title';

// these are used with classes only, not as gem components
@import 'govuk_publishing_components/components/_table';
@import 'govuk_publishing_components/components/_button';
@import 'govuk_publishing_components/components/_input';

.info-frontend {
  @include govuk-clearfix;
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet){
    padding-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }
}

.need-heading {
  @include govuk-media-query($from: tablet){
    max-width: 75%;
  }
}

.user-need {
  max-width: 18em;
}

.user-need__role,
.user-need__goal,
.user-need__benefit {
  display: block;
  padding-bottom: govuk-spacing(3);
}

.user-need__reasons {
  padding-bottom: govuk-spacing(6);
}

.metrics-panel {
  margin-bottom: govuk-spacing(6);
}

.metrics-panel__block {
  margin-bottom: govuk-spacing(4);
}

.metrics-panel__number {
  @include govuk-font(48, $weight: bold);
}

.metrics-panel__unit {
  @include govuk-font(24);
}

.search-terms-list {
  @include govuk-font(16, $line-height: 1.7);

  @include govuk-media-query($from: tablet){
    max-height: 200px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

.app-c-table .govuk-table__header {
  @include govuk-font(16, $weight: bold);
}

.app-c-table .govuk-table__cell {
  @include govuk-font(16);
}
