@import "grid_layout";
@import "typography";
@import "colours";
@import "reset";
@import "shims";

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}

.info-frontend {
  hr {
    margin: 0 $gutter-half;
    border: 1px solid $border-colour;
    border-width: 2px 0 0;
    display: block;
    clear: both;
  }

  .floated-children {
    @include media(tablet){
      padding: $gutter-half;
      padding-left: 0;
    }
  }

  .lead-metrics {
    @extend %contain-floats;
    clear: both;
    padding-bottom: $gutter-two-thirds;
  }
  .lead-metric {
    @include media(tablet){
      width: $one-third;
      float: left;

      &.page-views {
        width: $one-third;
      }
    }
  }

  .lead-metric {
    .count {
      @include bold-80;
    }
    .title {
      @include bold-16;
      display: block;
      margin-top: -10px;
      margin-bottom: $gutter;
    }
  }

  .needs-heading {
    @include media(tablet){
      width: $one-third;
      float: left;
    }

    h1 {
      @include bold-27;
      padding: $gutter 0 0;
    }
  }

  .needs-wrapper {
    float: left;
    width: $two-thirds;
  }

  .need-heading {
    @include media(tablet){
      width: $three-quarters;
      float: left;
    }
  }

  .need-heading {
    margin-bottom: $gutter;

    p {
      @include core-19;
      color: $secondary-text-colour;
    }
    h1 {
      @include bold-48;
    }
  }

  .need-wrapper {
    clear: both;
    padding: $gutter 0 0;

    .need-number {
      color: $secondary-text-colour;
    }
  }

  .need {

    @include bold-48;
    @include bold-36;
    max-width: 18em;

    .role {
      color: $grass-green;
    }
    .goal {
      color: $green;
    }
    .benefit {
      color: $turquoise;
    }
  }

  .reason-block {
    padding-bottom: $gutter;

    &.first {
      clear: both;
    }
    @include media(tablet){
      width: $half;
      float: left;
    }
    h2 {
      @include bold-19;
      margin-bottom: $gutter-one-third;
    }
    ul {
      li {
        @include core-16;
        margin-bottom: $gutter-one-third;
        margin-left: 1.6em;
      }
    }
  }
}
