@import "grid_layout";
@import "typography";
@import "colours";
@import "reset";
@import "shims";

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}

.info-frontend {
  padding-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet){
    padding-top: $gutter;
    margin-bottom: $gutter * 2;
  }
  @extend %contain-floats;

  hr {
    margin: 0 $gutter-half;
    border: 1px solid $border-colour;
    border-width: 2px 0 0;
    display: block;
    clear: both;
  }

  .padding-for-tablets {
    @include media(tablet){
      padding: $gutter-half;
      padding-left: 0;
    }
  }

  .time-interval-explanation {
    margin-top: $gutter-one-third;
    color: $secondary-text-colour;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0 2em;
    width: 105.95%;

    caption {
      @include bold-24;
      margin: 0.4em 0.5em 0.4em 0.7em;
      text-align: left;
    }

    @media screen and (max-width: 320px) {
      margin: 1em 0 2em 0;
      width: 100%;

      caption {
        padding-left: 0;
      }
    }
  }

  th, td {
    @include core-14;
    vertical-align: top;
    padding: 0.7em 0.5em 0.7em 0;
  }

  td {
    border-bottom: solid 1px $border-colour;

    small {
      @include core-16;
    }
  }

  /* reduce table font size on very small screens */
  @media screen and (max-width: 320px) {
    th, td, td small {
      font-size: 10px;
    }
  }

  th {
    line-height: 1.25em;
    text-align: left;
    font-weight: 700;
    border-bottom: solid 1px $border-colour;
  }

  .metrics-panel {
    h2 {
      @include bold-24;
      display: block;
      margin-top: -5px;
      margin-bottom: $gutter-one-third;
    }

    @extend %contain-floats;
    clear: both;
    @include media(tablet){
      padding-bottom: $gutter-two-thirds;
    }

    .no-metrics {
      @include bold-27;
    }

    .count {
      @include bold-48;
    }
    .unit {
      @include bold-24;
    }
  }

  .lead-metric {
    margin: $gutter-two-thirds 0 $gutter-one-third;

    @include media(tablet){
      width: $one-third;
      float: left;
    }
  }

  .wide-lead-metric {
    margin: $gutter-two-thirds 0 $gutter-one-third;

    @include media(tablet){
      width: $two-thirds;
      float: left;
    }
  }

  .search-terms {
    .search-terms-list {
      @include core-14;
      @include media(tablet){
        float: left;
      }
      ul {
        list-style-type: none;
        max-height: 200px;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
      }
      li {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    @include media(tablet){
      float: left;
    }
  }

  .needs-heading {
    @include media(tablet){
      width: $one-third;
      float: left;
    }

    h1 {
      @include bold-27;
      padding: $gutter 0 0;
    }
  }

  .individual-need {
    float: left;
    @include media(tablet){
      width: $two-thirds;
    }
  }

  .need-heading {
    @include media(tablet){
      width: $three-quarters;
      float: left;
    }
  }

  .need-heading {
    margin-bottom: $gutter;

    p {
      @include core-24;
      color: $secondary-text-colour;
    }
    h1 {
      @include bold-48;
    }
  }

  .role-goal-benefit-panel {
    clear: both;
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    @include media(tablet){
      padding-top: $gutter;
      padding-bottom: $gutter;
    }

    .no-need {
      @include core-27;
    }
  }

  .need {
    @include core-36;
    max-width: 18em;
    padding: 0 0 $gutter;

    span {
      display: block;
    }

    .goal {
      margin: 15px 0;
    }
  }

  .reason-block {
    padding-bottom: $gutter;

    &.first {
      clear: both;
    }
    @include media(tablet){
      width: $half;
      float: left;
    }
    h2 {
      @include bold-19;
      margin-bottom: $gutter-one-third;
    }
    ul {
      li {
        @include core-16;
        margin-bottom: $gutter-one-third;
        margin-left: 1.6em;
      }
    }
  }
}
