<div class="padding-for-tablets">
  <div class="need-heading">
  <p class="type">User needs and metrics</p>
  <h1><%= artefact["title"] %></h1>
  <p class="introduction">
    All metrics are recorded over the past 6 weeks.
  </p>
  </div>
</div>
