<div class="need-heading">
  <%= render partial: 'govuk_component/title', locals: {
  context: "User needs and metrics",
  title: artefact["title"]
  } %>
  <p class="introduction">
    All metrics are recorded over the past 6 weeks.
  </p>
</div>
