<div class="need-heading">
  <%= render 'govuk_publishing_components/components/title',
  context: "User needs and metrics",
  title: content["title"]
  %>
  <p class="govuk-body">
    All metrics are recorded over the past 6 weeks.
  </p>
</div>
