<div class="lead-metrics">
  <div class="lead-metric page-views">
    <p class="count">
      <%= formatted_traffic(lead_metrics.unique_pageviews_average) %> <span class="title">unique pageviews per day</span>
    </p>
  </div>
</div>
