<% if !per_page_metrics.empty? %>
  <h2 class="govuk-heading-l">Metrics for individual pages</h2>
  <div id="per-page-metrics">
    <%
      rows = per_page_metrics.map do |link, number|
        [
          {
            text: link_to(link, link, class: "govuk-link"),
          },
          {
            text: "#{human_readable_number(number.unique_pageviews_average)} per day",
          },
          {
            text: "#{human_readable_number(number.exits_via_search_average)} per day",
          },
          {
            text: "#{human_readable_number(number.problem_reports_weekly_average)} per week"
          },
        ]
      end
    %>

    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "Page"
        },
        {
          text: "Unique pageviews",
        },
        {
          text: "Searches started from this page",
        },
        {
          text: "Problem reports",
        }
      ],
      rows: rows
    } %>
  </div>
<% end %>
