<% content_for :title do "Information about “#{@artefact["title"]}”" end %>

<%= render partial: "artefact", locals: { artefact: @artefact, show_needs: @show_needs } %>
<%= render partial: "lead_metrics", locals: { lead_metrics: @lead_metrics } %>

<%- if @show_needs %>
<div class="floated-children">
  <header class="needs-heading">
    <h1>Why is this page on GOV.UK?</h1>
  </header>
  <div class="needs-wrapper">
    <% if @needs.present? %>
      <%= render partial: "need_details", collection: @needs, as: 'need', spacer_template: "spacer" %>
    <% else %>
      <div class="need-wrapper">
        <h2 class="no-need">There aren't any recorded needs for this page.</h2>
      </div>
    <% end %>
  </div>
</div>
<%- end %>
