<div class="outer-block">
  <%= render partial: "artefact", locals: { artefact: @artefact } %>
</div>

<div class="outer-block">
  <%= render partial: "need", collection: @needs, spacer_template: "spacer" %>
</div>
